/* Example styling of a h1 element */
h1 {background-color: yellow;
  color: pink;
  font-family: monospace;
}
h2 {color: yellow;
  font-family: monospace;
}

p {color: blue;
  font-family: sans-serif;
}

body {background-color: pink;
}

#sc {color: yellow;
  font-family: monospace;
}

#fi {color: yellow;
  font-family: sans-serif;
}

div {border: solid;
  border-style: dotted;
  border-color: yellow;
}
